## Dictionary
- key와 value를 한 쌍으로 갖는 자료형(type: dict)
    - 단어: 뜻
    - key 중복되지 않는 고유한 값
- 순서가 없다 => 인덱싱 불가능
    - key를 통해 value를 얻는다
- 가변: 수정, 삭제, 추가 가능
- 형변환: `dict()`
- 중괄호 사용 {}, 콤마로 구분
- value에 다양한 자료구조가 올 수 있음
    - `a: 1, a: [1, 2, 3, 4]`

In [116]:
# list (인덱싱 가능)
a = [1, 2, 3] ; a[0]

1

In [117]:
# dict (인덱싱 불가)
b = {'a': 1, 'b': 2, 'c': 3}
b[1] # NameError: name 'b' is not defined

KeyError: 1

In [ ]:
empty = dict() # 빈 딕셔너리 선언 방법 1
empty = {}     # 빈 딕셔너리 선언 방법 2
print(type(empty))

# 딕셔너리처럼 중괄호를 사용하는 set은 어떻게 선언하는가
empty = set()
print(type(empty))

<class 'dict'>
<class 'set'>

In [ ]:
a = {1, 2, 3}  # set
a = {1: 'apple', 2: 'banana', 3: 'kiwi'} ; a # dict

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [ ]:
# 딕셔너리를 만드는 다른 방법
# key에 따옴표를 사용하지 않아야 함
# key는 딕셔너리를 만들고 나면 문자열로 바뀐다
b = dict(apple='a', banana='b', kiwi='c') ; b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [ ]:
# 출석부로 딕셔너리 만들기
''''이름, 학번, 학과'''
'''james 202201 경제학과
laura 202203 스페인어과
louis 202202 컴공과'''

attendance = {202201: ['James', '경제학과'],
202203: ['Laura', '스페인어과'],
202202: ['Louis', '컴퓨터공학과']}
# 동명이인이 있을 수 있으니 key는 학번으로
attendance

{202201: ['James', '경제학과'],
 202203: ['Laura', '스페인어과'],
 202202: ['Louis', '컴퓨터공학과']}

## 형 변환

In [ ]:
ex1 = [[1, 2], [2, 3], [3, 4], [3, 5]] ; dict(ex1) # list
# 중복되는 키 -> 제일 마지막 키

{1: 2, 2: 3, 3: 5}

In [ ]:
ex2 = [(1, 2), (2, 3), (1, 3)] ; dict(ex2) # tuple
# 중복되는 키 -> 제일 마지막 키

{1: 3, 2: 3}

In [ ]:
ex3 = ['ab', 'bc', 'cd'] ; dict(ex3)
# 두 글자 가능

{'a': 'b', 'b': 'c', 'c': 'd'}

In [ ]:
ex4 = ['ab', 'bc', 'cde'] ; dict(ex4)
# ValueError: dictionary update sequence element #2 has length 3; 2 is required

ValueError: dictionary update sequence element #2 has length 3; 2 is required

In [ ]:
ex5 = ['abcd', 'efgh', 'ijkl'] ; dict(ex5)

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [ ]:
pythons = {
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}

In [ ]:
pythons['Idle'] # key로 value 부르기

'Eric'

In [ ]:
pythons['Hwa'] = 'Chloe'  # key: value 추가

In [ ]:
pythons['Idle'] = 'James'  ; pythons # key의 value 변경

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [ ]:
# 예외 대처 위한 확인
'Hwa' in pythons

True

In [ ]:
# get()
pythons.get('Lee', 0) # 없는 key는 0 반환

0

In [ ]:
# get()
pythons.get('Chloe', 0)  # 없는 key는 0 반환

0

In [ ]:
# get()
pythons.get('Jones', 0)

'Terry'

### 전체 조회
- keys()
- values()
- items()

In [ ]:
pythons.keys() # 전체 key 조회

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa'])

In [ ]:
list(pythons.keys()) # 전체 key -> list로 반환

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [ ]:
pythons.values() # 전체 value 반환

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [ ]:
pythons.items() # 전체 key: value 반환

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [ ]:
for k, v in pythons.items():
    print(f'{k} = {v}')

# list comprehension
[f'{k} = {v}' for k, v in pythons.items()]

Chapman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

['Chapman = Graham',
 'Cleese = John',
 'Idle = James',
 'Jones = Terry',
 'Palin = Michael',
 'Hwa = Chloe']

In [ ]:
[(k, v) for k, v in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [ ]:
[k for k in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [ ]:
[k[1] for k in pythons.items()]  # 0=key, 1=value

['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe']

In [ ]:
[k[0] for k in pythons.items()] # 0=key, 1=value

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [ ]:
[k for k in pythons]  # 인수 하나만 하면 key만 나옴

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

### ex
animal: num_leg(다리 개수) 딕셔너리 만드시오.

In [ ]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 6, 8

{animal[i]: legs[i] for i in range(len(animal))}

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 6, 'spider': 8}

Q. pythons에서 성: 이름
- **성**은 **첫 글자**만, **이름**은 **글자 개수**로 이루어진 **튜플** (성, 이름) 리스트로 만들기
- dict comprehension 사용하지 않는다

In [ ]:
pythons

{'Chapman': 'Thomas',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [ ]:
[(k[0], len(v)) for k, v in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

### 값 수정, 삭제, 복제, 비교

#### 수정

In [ ]:
others = {
    'Marx': 'Groucho',
    'Howard': 'Moe'
}
others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [ ]:
pythons.update(others) ; pythons
# 맨 마지막에 추가된다

{'Chapman': 'Thomas',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [ ]:
pythons.update(Chapman='Thomas') ; pythons# key에 따옴표 사용하지 않는다

{'Chapman': 'Thomas',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [ ]:
#python 3에서만 가능
{**others, **pythons} # 맨 앞에 추가된다

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Thomas',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [ ]:
{**pythons, **others} # 맨 뒤에 추가된다

{'Chapman': 'Thomas',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

#### 삭제

In [ ]:
del pythons['Howard'] ; pythons

NameError: name 'pythons' is not defined

In [ ]:
# 없는 것 삭제
del pythons['Lee'] # KeyError

In [ ]:
pythons.pop('Marx') # value 반환, 쌍이 삭제됨

'Groucho'

In [ ]:
pythons # Marx: Groucho 삭제됨

{'Chapman': 'Thomas',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [ ]:
pythons.pop('Lee', 0) 
# 없으면 예외는 나지만, 예외시 출력 값 지정 가능

0

#### 전체 삭제

In [ ]:
pythons.clear()
pythons = {}

### 복제
- 할당: `b = a`
- 얕은 복사: `c = a.copy()`
- 깊은 복사: `c = copy.deepcopy(a)`

#### 할당

In [ ]:
a = {1:1, 2:2, 3:3}
b = a # 할당
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

#### 얕은 복사

In [ ]:
c = a.copy() # 얕은 복사
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

얕은 복사의 문제: 2차원 이상의 리스트에서는 참조가 된다

In [ ]:
a = {1: [1, 2, 3], 2: [2, 3, 4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

#### 깊은 복사

In [ ]:
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

#### 비교
- `같다`, `다르다` 만 가능

In [ ]:
a != b, a == b

(True, False)

### EX
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성=pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기 (순회)
4. sorted 이용해서 값 정렬 i) key 기준, ii) value 기준

In [ ]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [ ]:
# kor, eng 두 리스트를 합쳐 딕셔너리로
system_kor = {k: e for k, e in zip(solar_kor, solar_eng)}
system_eng = {e: k for e, k in zip(solar_eng, solar_kor)}

# 명왕성=pluto 추가
system_kor['명왕성'] = 'pluto'
system_eng['pluto'] = '명왕성'

# '성'으로 끝나지 않는 key 삭제 (순회)
for planet in list(system_kor.keys()):
    if not planet.endswith('성'):
        del system_kor[planet]

for planet in list(system_eng.keys()):
    if not system_eng[planet].endswith('성'):
        del system_eng[planet]

sorted(system_kor.items()) ; sorted(system_eng.items())
system_kor, system_eng

({'수성': 'mercury',
  '금성': 'venus',
  '화성': 'mars',
  '목성': 'jupiter',
  '토성': 'saturn',
  '천왕성': 'uranus',
  '해왕성': 'neptune',
  '명왕성': 'pluto'},
 {'mercury': '수성',
  'venus': '금성',
  'mars': '화성',
  'jupiter': '목성',
  'saturn': '토성',
  'uranus': '천왕성',
  'neptune': '해왕성',
  'pluto': '명왕성'})

In [ ]:
dict([(k, system_kor[k]) for k in system_kor if k.endswith('성')])

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

---

### dictionary comprehension

In [ ]:
letter = 'johnny'
# a: 1, p: 2, ...
{ch: letter.count(ch) for ch in letter}

{'j': 1, 'o': 1, 'h': 1, 'n': 2, 'y': 1}

In [ ]:
# 단어의 모음 세기
vowels = 'aeiou'
word = 'howareyou'

# word 순회
# vowels 순회

{vowel: word.count(vowel) for vowel in vowels if vowel in word}

{'a': 1, 'e': 1, 'o': 2, 'u': 1}

In [ ]:
{vowel: word.count(vowel) for vowel in set(word) if vowel in vowels}

{'e': 1, 'a': 1, 'o': 2, 'u': 1}

In [ ]:
{k: v for k, v in system_kor.items() if k.endswith('성')}

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

---

#### sorting

In [ ]:
def fx(x):
    return x[1] # 1은 value

In [ ]:
sorted(system_kor.items(), key=fx)

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [ ]:
sorted(system_kor.items(), key=lambda x: x[0]) # 0은 key

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

In [ ]:
sorted(system_kor.items(), key=lambda x: x[1]) # 1은 value

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

---

#### set
- "중복이 없다"
- 집합과 동일한 개념 => 교집합, 합집합, 차집합, ...
- 순서도 없고 중복도 없는 bag과 같은 것, indexing도 없다

In [ ]:
# 빈 set 선언 방법
empty = set() ; empty

set()

In [ ]:
# 1
a = {1, 2, 3} ; a

{1, 2, 3}

In [ ]:
# 2
a = set(1, 2, 3) ; a # Error

TypeError: set expected at most 1 argument, got 3

In [ ]:
a = set((1, 2, 3)) ; a# 선언, 형 변환

{1, 2, 3}

In [ ]:
# 추가
a.add(3) ; a # 중복 X

{1, 2, 3}

In [ ]:
a.add(4) ; a

{1, 2, 3, 4}

In [ ]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

vodka가 포함된 술 출력하기

In [ ]:
{drink for drink, ingr in drinks.items() if 'vodka' in ingr}

{'black russian', 'martini', 'screwdriver', 'white russian'}


vodka는 있지만 cream이나 vermouth 없는 술 출력하기

In [ ]:
{drink for drink, ingr in drinks.items() 
if 'vodka' in ingr and not'cream' in ingr and not 'vermouth' in ingr}

{'black russian', 'screwdriver'}

# set을 활용해서 바꾸기

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

In [ ]:
# 교집합 | intersection
a.intersection(b)
a & b

{2, 3}

In [ ]:
# 합집합 | union
a.union(b)
a | b

{1, 2, 3, 4}

In [ ]:
# 차집합 | difference
a.difference(b) 
# a-b, b-a 다르다

{1}

In [ ]:
for drink, ingr in drinks.items():
    if 'vodka' in ingr and not ingr & {'cream', 'vermouth'}:
        print(drink)

black russian
screwdriver

In [ ]:
{s for s in range(5)}

{0, 1, 2, 3, 4}

frozenset
- set과 문법과 기능이 거의 동일
- 차이점
    - set - mutable
        - 새로운 값의 추가, 삭제 **가능**
    - frozenset - immutable
        - 새로운 값의 추가, 삭제 **불가**

In [ ]:
k = set([1, 2]) ; k.add(7) ; k

{1, 2, 7}

In [ ]:
f = frozenset([1, 2]) ; f.add(6) ; f # AttributeError: 'frozenset' object has no attribute 'add'

AttributeError: 'frozenset' object has no attribute 'add'