In [22]:
import nltk
nltk.download(['brown', 'inaugural'])

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package inaugural to /root/nltk_data...
[nltk_data]   Package inaugural is already up-to-date!

True

In [23]:
brown = nltk.corpus.brown

# FreqDist

문서에 사용된 단어(token)의 사용 빈도 정보를 담는 클래스

딕셔너리 자료형과 유사

In [24]:
# cfd
'''
cfd = nltk.ConditionalFreqDist(
    (genre, word)
    for genre in brown.categories()
    for word in brown.words(categories=genre) # fileids
)

modals = ['can', 'could', 'will', 'would', 'may', 'might']
cfd.tabulate(condition=brown.categories(), sample=modals)
'''

"\ncfd = nltk.ConditionalFreqDist(\n    (genre, word)\n    for genre in brown.categories()\n    for word in brown.words(categories=genre) # fileids\n)\n\nmodals = ['can', 'could', 'will', 'would', 'may', 'might']\ncfd.tabulate(condition=brown.categories(), sample=modals)\n"

In [25]:
# modals의 빈도수가 포함된 cfd (word -> modal_verb)
'''
cfd1 = nltk.ConditionalFreqDist(
    (genre, modal)
    for genre in brown.categories()
    for modal in ['can', 'could', 'will', 'would', 'may', 'might']

    for word in brown.words(categories=genre)
    if word.lower() == modal
)
cfd1.tabulate()
'''

"\ncfd1 = nltk.ConditionalFreqDist(\n    (genre, modal)\n    for genre in brown.categories()\n    for modal in ['can', 'could', 'will', 'would', 'may', 'might']\n\n    for word in brown.words(categories=genre)\n    if word.lower() == modal\n)\ncfd1.tabulate()\n"

In [26]:
# 선 그래프
'''
import matplotlib.pyplot as plt
plt.figure(figsize=(12, 5))
cfd1.plot() 
'''

'\nimport matplotlib.pyplot as plt\nplt.figure(figsize=(12, 5))\ncfd1.plot() \n'

In [27]:
inaugural = nltk.corpus.inaugural

In [28]:
inaugural.fileids()

['1789-Washington.txt',
 '1793-Washington.txt',
 '1797-Adams.txt',
 '1801-Jefferson.txt',
 '1805-Jefferson.txt',
 '1809-Madison.txt',
 '1813-Madison.txt',
 '1817-Monroe.txt',
 '1821-Monroe.txt',
 '1825-Adams.txt',
 '1829-Jackson.txt',
 '1833-Jackson.txt',
 '1837-VanBuren.txt',
 '1841-Harrison.txt',
 '1845-Polk.txt',
 '1849-Taylor.txt',
 '1853-Pierce.txt',
 '1857-Buchanan.txt',
 '1861-Lincoln.txt',
 '1865-Lincoln.txt',
 '1869-Grant.txt',
 '1873-Grant.txt',
 '1877-Hayes.txt',
 '1881-Garfield.txt',
 '1885-Cleveland.txt',
 '1889-Harrison.txt',
 '1893-Cleveland.txt',
 '1897-McKinley.txt',
 '1901-McKinley.txt',
 '1905-Roosevelt.txt',
 '1909-Taft.txt',
 '1913-Wilson.txt',
 '1917-Wilson.txt',
 '1921-Harding.txt',
 '1925-Coolidge.txt',
 '1929-Hoover.txt',
 '1933-Roosevelt.txt',
 '1937-Roosevelt.txt',
 '1941-Roosevelt.txt',
 '1945-Roosevelt.txt',
 '1949-Truman.txt',
 '1953-Eisenhower.txt',
 '1957-Eisenhower.txt',
 '1961-Kennedy.txt',
 '1965-Johnson.txt',
 '1969-Nixon.txt',
 '1973-Nixon.txt',
 '1977-Carter.txt',
 '1981-Reagan.txt',
 '1985-Reagan.txt',
 '1989-Bush.txt',
 '1993-Clinton.txt',
 '1997-Clinton.txt',
 '2001-Bush.txt',
 '2005-Bush.txt',
 '2009-Obama.txt',
 '2013-Obama.txt',
 '2017-Trump.txt',
 '2021-Biden.txt']

In [29]:
# cfd 
'''
cfd2 = nltk.ConditionalFreqDist(
    (target_word, fileid[:-4])
    for fileid in inaugural.fileids()
    for target_word in ['citizen', 'america'] # fileids

    for word in inaugural.words(fileids = fileid)
      if word.lower() == target_word
      # 또는 if target_word in word.lower()
      # 또는 word.lower().startswith(target_word)
)

cfd2.plot()
'''

"\ncfd2 = nltk.ConditionalFreqDist(\n    (target_word, fileid[:-4])\n    for fileid in inaugural.fileids()\n    for target_word in ['citizen', 'america'] # fileids\n\n    for word in inaugural.words(fileids = fileid)\n      if word.lower() == target_word\n      # 또는 if target_word in word.lower()\n      # 또는 word.lower().startswith(target_word)\n)\n\ncfd2.plot()\n"

## Tuple & List
- 불변 객체 vs. 가변 객체
- 공통점
  - 순서가 있는 sequence type -> indexing O -> slicing O
  - iterable -> for loop O

In [30]:
#1. 생성
emptyT = ()
emptyT = tuple()

emptyL = []
emptyL = list()

emptyT, emptyL

((), [])

In [31]:
#1.1 요소가 여러 개일 때
alphabetT = ('a', 'b')
alphabetT = 'a', 'b'
alphabetT

alphabetL = ['a', 'b']

In [32]:
# 1.2 tuple이 한 개의 데이터만 가질 때 주의할 점
alphaT = ('a') # str
type(alphaT)

str

In [33]:
alphaT = ('b',) # ','를 붙여줘야 한다 - 그렇지 않으면 해당 데이터의 타입이 출력된다
type(alphaT)

tuple

- packing: 한 변수에 여러 데이터를 할당하는 것
  - list, tuple 자체, a = [1, 2, 3, 4]
- unpacking: 한 변수에 여러 데이터가 들어있을 때 여러 변수에 나누는 것
  - a = 'k', b = 'i', c = 'm'

In [34]:
a, b, c = 'kim' # unpacking
a, b, c

('k', 'i', 'm')

In [35]:
# 값 교환하기
pwd = 'abcd'
userId = 'sky'

# pwd = userId -> 정보가 사라진다
'''
temp1 = userId
temp2 = pwd
pwd = temp1
userId = temp2
'''

pwd, userId = userId, pwd
pwd, userId # 튜플이 편리한 점

('sky', 'abcd')

In [36]:
# 연산
print(('a',) + (1, 2)) # +
print(((1, 2) * 3))    # *

('a', 1, 2)
(1, 2, 1, 2, 1, 2)

In [37]:
x = ('a',)
y = (1, 2)
id(x), id(y), id(x + y) # 저장되는 위치가 다르다

(140248308572880, 140248300827664, 140248120924112)

In [38]:
# 비교
x = 1, 2
y = 1, 6

x < y

True

In [39]:
x = 2, 1
y = 1, 2

x < y # False - 앞쪽의 요소가 대소비교에 중요

False

In [40]:
# 순회
for i in x: # 요소 개수 만큼
  print(x)

(2, 1)
(2, 1)

In [41]:
[i for i in x] # 추천

[2, 1]

In [42]:
# tuple comprehension은 없다
tuple([i for i in x]) # 비추
* [i for i in x], # 제일 비추

(2, 1)

In [43]:
# 형변환
dog = 'dog'
dogT = tuple(dog)

In [44]:
(dog,) # ','

('dog',)

In [45]:
list(dog)

['d', 'o', 'g']

In [46]:
# slicing도 동일하게 가능하다.
dogT[0]

'd'

[정리]
- tuple 장점
  - 변하지 않는 데이터 시퀀스를 만들 수 있다. 타인의 접근을 막는다.
  - 메모리 사용 적다.
  - 더 빨리 생성된다
  - 인덱싱 속도가 빠르다

- tuple 단점
  - 데이터 값 변경, 추가, 제거 불가
  - sorted로 정렬 불가

- list 장점
  - 튜플의 장점이 필요 없을 때 전부 리스트 사용
  - 데이터를 순차적으로 파악할 때 사용
  - set와 달리 중복 데이터를 쓸 수 있다

### 리스트의 유용한 함수들
- 변경, 삭제, 추가
- list comprehension 업그레이드

In [47]:
num = list(range(5))
num

[0, 1, 2, 3, 4]

In [48]:
# 추가
num.append(6) # 맨 뒤에 요소 추가 (여러 개 안 됨)
num

[0, 1, 2, 3, 4, 6]

In [49]:
# insert(index, item)
num.insert(0, 8) # 0번 index에 8을 넣겠다
num

[8, 0, 1, 2, 3, 4, 6]

In [50]:
# 여러 개 추가
x = [6, 6, 6]
num.extend(x)
num # 인자로 전달된 iterable의 모든 item을 list에 추가한다

[8, 0, 1, 2, 3, 4, 6, 6, 6, 6]

In [51]:
num.append(x)
num # 리스트 자체를 추가한다 - extend와의 차이

[8, 0, 1, 2, 3, 4, 6, 6, 6, 6, [6, 6, 6]]

In [52]:
num += x
num
# extend와의 차이점
## '+'를 사용하면 num의 값이 변하는 것이 아니라 두 리스트가 더해진 새로운 리스트로 반환된다 (id 다름)
## 'extend'를 사용하면 num의 주소 값이 변하지 않고 유지된다 (id 그대로)

[8, 0, 1, 2, 3, 4, 6, 6, 6, 6, [6, 6, 6], 6, 6, 6]

In [53]:
# offset
num[0] = 0 
num # 0번 인덱스 값이었던 8이 0으로 바뀜

[0, 0, 1, 2, 3, 4, 6, 6, 6, 6, [6, 6, 6], 6, 6, 6]

In [54]:
# slice
num[:3] = 'cat'
num # 0 ~ (3-1)번 인덱스(0, 0, 1, 2)가 'cat'으로 바뀜

['c', 'a', 't', 2, 3, 4, 6, 6, 6, 6, [6, 6, 6], 6, 6, 6]

In [55]:
# 삭제
del num[:3]
num # 0 ~ (3-1)번 인덱스의 값('c', 'a', 't')

[2, 3, 4, 6, 6, 6, 6, [6, 6, 6], 6, 6, 6]

In [56]:
# remove(value)
num.remove([6, 6, 6])
num # 인덱스 X, 리스트에 들어있는 해당 값을 제거

[2, 3, 4, 6, 6, 6, 6, 6, 6, 6]

In [57]:
# pop(index) 기본값 = [-1]
num.pop()
num # 기본값인 -1번 인덱스 값(6)이 제거됨

[2, 3, 4, 6, 6, 6, 6, 6, 6]

In [58]:
num.pop(0)
num # 0번 인덱스 값(2)이 제거됨

[3, 4, 6, 6, 6, 6, 6, 6]

In [59]:
# clear
num.clear()
num

[]

In [60]:
# index
num = list(range(5))
print(num)
num.index(4)

[0, 1, 2, 3, 4]

4

In [61]:
0 in num

True

In [62]:
# 정렬: sort(), sorted()
sorted(num, reverse=True) # 변한 값만 복사해서 출력

[4, 3, 2, 1, 0]

In [63]:
num.sort(reverse=True) # 리스트, sort(), 값을 할당하지 않아도 된다.
num

[4, 3, 2, 1, 0]

## `a.sort()` vs. `sorted(a)`
- sorted(a) - 리스트, 문자열 둘 다 적용 가능
- a.sort() - 리스트만 가능
<br><br>
- sorted(a) - 정렬 결과를 반환하기 때문에 변수에 담을 수 있다
- a.sort() - 입력을 출력으로 덮어쓰기 때문에 별도의 추가 공간이 필요하지 않고 변수에 담을 수도 없다 (error 발생)

In [64]:
# reverse(), reversed() -> 값 반환 한다 vs. 안 한다
num.reverse() # 값 반환 안 한다
num

[0, 1, 2, 3, 4]

In [65]:
reversed(num) # <list_reverseiterator at 0x7fb7620e9d10>
# reversed 함수는 'iterator' 형식의 값을 반환하기 때문에 객체의 주소가 반환된다
print(list(reversed(num))) # list로 형변환 해야 한다

[4, 3, 2, 1, 0]

## shallow copy(얕은 복사) vs. deep copy(깊은 복사)
- 얕은 복사
  - 해당 객체만 복사하여 새 객체를 생성함
  - 복사된 개체의 인스턴스 변수는 원본의 것과 같은 메모리 주소를 참조
  - 따라서, 해당 메모리 주소의 값이 변경되면 원본 및 복사 객체의 인스턴스 변수 값은 같이 변경된다

- 깊은 복사
  - 데이터 자체를 통째로 복사
  - 복사된 두 개체는 완전히 독립적인 메모리를 차지

In [66]:
# 할당
a = list(range(1, 5))
a

[1, 2, 3, 4]

In [67]:
b = a # 같은 메모리 주소를 참조하는 것
a is b # 변수명만 다를 뿐 같은 객체

True

In [68]:
id(a), id(b) # 같은 메모리 주소

(140248117350224, 140248117350224)

In [69]:
a[0] = 5
a, b # 같이 바뀐다

([5, 2, 3, 4], [5, 2, 3, 4])



---



---

In [70]:
# 얕은 복사
a = [1, 2, 3, 4]
b = a.copy()
print(a is b) # False -> 서로 다른 객체

a[0] = 5
print(a, b) # a만 바뀜

False
[5, 2, 3, 4] [1, 2, 3, 4]

In [71]:
# 얕은 복사 - 그 안의 개체(자식 개체)에는 적용이 안 된다

a = [[1, 2], [3, 4]]
b = a.copy()

a[1][1] = 0
a, b # 둘 다 바뀌어 버림

([[1, 2], [3, 0]], [[1, 2], [3, 0]])

In [72]:
# shallow copy(얕은 복사)의 방법들
c = a.copy()
d = list(a)
e = a[:]

id(a), id(c), id(d), id(e) # 주소들이 서로 다름

(140248300817936, 140248116883856, 140248117352320, 140248126916960)



---



---

In [73]:
# deep copy(깊은 복사): 하위에 중첩된 리스트 요소가 안 바뀌도록
import copy

f = copy.deepcopy(a)
print('f: ',f)

f:  [[1, 2], [3, 0]]

In [74]:
a.append([1, 2, 3])
print('f: ', f)
print('a: ', a) # a만 바뀜

f:  [[1, 2], [3, 0]]
a:  [[1, 2], [3, 0], [1, 2, 3]]



---

## 리스트 순회

### zip()
- 여러 개의 순회 가능한(iterable)한 객체를 인자로 받고, 각 객체가 담당하는 원소를 tuple 형태로 차례로 접근할 수 있는 반복자(iterator) 역할을 반환

In [75]:
members = ['johnny', 'jeno', 'mark']
colors = ['red', 'green', 'blue']

for pair in zip(members, colors):
  print(pair)

('johnny', 'red')
('jeno', 'green')
('mark', 'blue')

In [76]:
# for loop / list comprehension

name = ['kate', 'royce', 'phill']
age = [77, 4, 54]

for item1, item2 in zip(name, age):
  print((item1, item2))

('kate', 77)
('royce', 4)
('phill', 54)

In [77]:
for item1 in name:
  for item2 in age:
    print((item1, item2))

('kate', 77)
('kate', 4)
('kate', 54)
('royce', 77)
('royce', 4)
('royce', 54)
('phill', 77)
('phill', 4)
('phill', 54)

In [78]:
list(zip(name, age))

[('kate', 77), ('royce', 4), ('phill', 54)]

### `enumerate()`
- 리스트의 원소에 인덱스를 부여해주는 함수
<br><br>

- 여태의 for loop 돌리는 방식
  - 많은 프로그래밍 언어에서처럼i 등의 인덱스 변수를 증가시키며 돌림
    - 파이썬에서는 `enumerate()` 내장함수로 이러한 인덱스 변수 없이 for loop을 돌 수 있다

In [79]:
[idx for idx in enumerate(name)]

[(0, 'kate'), (1, 'royce'), (2, 'phill')]

In [80]:
# list + index enumerate

for idx, item in enumerate(name):
  print(idx, item)

0 kate
1 royce
2 phill

In [81]:
# list comprehension list(zip(name, age))

[i for i in zip(name, age)]

[('kate', 77), ('royce', 4), ('phill', 54)]

In [82]:
[(i, j+33) for (i, j) in zip(name, age)]

[('kate', 110), ('royce', 37), ('phill', 87)]

In [83]:
# 위의 list comprehension을 for문으로, name과 age 사용
nameage = []

for i, j in zip(name, age):
  nameage.append((i, j))
print(nameage)

[('kate', 77), ('royce', 4), ('phill', 54)]

In [84]:
'''
for i in name:
  for j in age:
    print(i, j)
'''


'''
(kate, 77)
(kate, 44)
(kate, 54)
'''

[(i, j) for i in name for j in age]

[('kate', 77),
 ('kate', 4),
 ('kate', 54),
 ('royce', 77),
 ('royce', 4),
 ('royce', 54),
 ('phill', 77),
 ('phill', 4),
 ('phill', 54)]

In [85]:
# 2. [i, j]가 들어있는 리스트의 리스트로 바꿔보기 (리, 컴)

[[(i, j) for j in age] for i in name]

[[('kate', 77), ('kate', 4), ('kate', 54)],
 [('royce', 77), ('royce', 4), ('royce', 54)],
 [('phill', 77), ('phill', 4), ('phill', 54)]]

In [86]:
sentence = 'do not judge a book by its cover'

# [(대문자, 첫글자대문자, 글자수)]의 리스트 만들기

words = sentence.split()

[(word.upper(), word.title(), len(word)) for word in sentence.split()]

[('DO', 'Do', 2),
 ('NOT', 'Not', 3),
 ('JUDGE', 'Judge', 5),
 ('A', 'A', 1),
 ('BOOK', 'Book', 4),
 ('BY', 'By', 2),
 ('ITS', 'Its', 3),
 ('COVER', 'Cover', 5)]

In [87]:
text = [
        ['Sunja', 'said', 'goodnight', 'to', 'her', 'mother'],
        ['Hansu', 'was', 'no', 'longer', 'in', 'Busan']
]

In [88]:
#1 문장마다 스트링으로 변환해서 리스트로 반환
  # ['문장1', '문장2']
  
[' '.join(sent) for sent in text]

['Sunja said goodnight to her mother', 'Hansu was no longer in Busan']

In [89]:
#2 전체를 스트링으로 반환
  # '문장1 문장2'
  
' '.join([' '.join(sent) for sent in text])

'Sunja said goodnight to her mother Hansu was no longer in Busan'

In [90]:
#3 전체 단어 리스트 가져오기
  # ['sunja', 'said', 'goodnight', ...]
  
[word for sent in text for word in sent]

['Sunja',
 'said',
 'goodnight',
 'to',
 'her',
 'mother',
 'Hansu',
 'was',
 'no',
 'longer',
 'in',
 'Busan']

In [91]:
# if문 - else 어디서 쓸 수 있을까
[i for i in range(10)] # 짝수면 가져오고, 홀수면 '홀수'로 바꾼다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
[i for i in range(10) if i%2 == 0 else '홀수'] # X

SyntaxError: ignored

In [94]:
[i if i%2 == 0 else '홀수' for i in range(10)] # 앞으로 끌고 온다

[0, '홀수', 2, '홀수', 4, '홀수', 6, '홀수', 8, '홀수']